/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f3cfee;
}

/* Estilos de la barra lateral */
.sidebar {
    background-color: #d0a9b7;
    height: 100vh;
    width: 80px;
}

.icon {
    width: 40px; /* Tamaño de los íconos en la barra lateral */
}

/* Estilos del calendario */
.calendar {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

button {
    background-color: #4a4a4a;
    color: white;
    padding: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #805ad5;
}

.grid-cols-7 > span {
    font-weight: bold;
    text-transform: uppercase;
}

.grid-cols-7 > div {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.grid-cols-7 > div:hover {
    background-color: #805ad5;
    border-radius: 5px;
}
